# this is first program

In [4]:
n=input("enter name")
print(n)

enter namemeghana
meghana

In [51]:
64564+54564

119128

### Addition,Subtraction,Division,Multiplication..

In [8]:
a=int(input("enter a value"))
b=int(input("enter b value"))
c=a+b
print(c)

enter a value45
enter b value45
90

In [9]:
a=int(input("enter a value"))
b=int(input("enter b value"))
c=a*b
print(c)

enter a value2
enter b value2
4

In [18]:
a=int(input("enter a value"))
b=int(input("enter b value"))
c=a/b
print(c)

enter a value4
enter b value2
2.0

In [50]:
a=int(input("enter a value"))
b=int(input("enter b value"))
c=a-b
print(c)

enter a value6
enter b value4
2

# concatination

In [16]:
a="meghana"
b=" sai sri"
c=a+b
print(c)

meghana sai sri

# Conditional Statement

In [24]:
a=int(input("enter a value"))
b=int(input("enter b value"))
if a==b:
    print("both are equal")
elif a>b:
    print("a is greater")
else:
    print("b is greater")

enter a value50
enter b value60
b is greater

In [31]:
a=int(input("enter a value"))
b=int(input("enter b value"))
c=int(input("enter c value"))
if a==b==c:
    print("All are equal")
elif a>b:
    print("a is greater")
elif b>c:
    print("b is greater")
else:
    print("c is greater")

enter a value56
enter b value78
enter c value34
b is greater

# calendar

In [1]:
import calendar
year=2019
month=9
c=calendar.month(year,month)
print(c)

   September 2019
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

In [4]:
import calendar
year=int(input("enter a year"))
month=int(input("enter a month"))
print(calendar.month(year,month))

enter a year2019
enter a month12
   December 2019
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

# to find type of data

In [5]:
n=1
type(n)

int

In [6]:
n=0.005
type(n)

float

# loop concept

In [15]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [16]:
x=["gopal","srinu"]
for i in x:
    print(i)

gopal
srinu

In [17]:
x=["gopal","srinu"]
y=["meghana","sai"]
for i in x:
    print(i)
for j in y:
    print(j)

gopal
srinu
meghana
sai

In [23]:
x=["abc","def"]
y=["meghana","sai"]
for i in x:
    for j in y:
     print(x,y)

['abc', 'def'] ['meghana', 'sai']
['abc', 'def'] ['meghana', 'sai']
['abc', 'def'] ['meghana', 'sai']
['abc', 'def'] ['meghana', 'sai']

# function concept

In [ ]:
def functionname(parameters):
    return statement
fuctionname()

In [26]:
def add(x,y):
    c=x+y
    return c
a=10
b=20
add(a,b)

30

In [71]:
def add(x,y):
    c=x+y
    return(c)
a=int(input("enter num"))
b=int(input("enter num"))
add(a,b)

enter num3
enter num8

11

# to perform arthematic operation

In [52]:
def add(x,y):
    c=x+y
    return(c)
def sub(x,y):   
    c=x-y
    return c
def mul(x,y):
    c=x*y
    return c
def div(x,y):
    c=x/y
    return c
a=int(input("enter num"))
b=int(input("enter num"))
add(a,b),sub(a,b),mul(a,b),div(a,b)

enter num8
enter num6

(14, 2, 48, 1.3333333333333333)

# To Print Table

In [63]:
n=int(input("table "))
for i in range(11):
    print(n,"*",i,"=",n*i)

table 89
89 * 0 = 0
89 * 1 = 89
89 * 2 = 178
89 * 3 = 267
89 * 4 = 356
89 * 5 = 445
89 * 6 = 534
89 * 7 = 623
89 * 8 = 712
89 * 9 = 801
89 * 10 = 890

# Even or Odd

In [66]:
n=int(input("enter a num"))
if (n%2==0):
    print("even")
else:
    print("odd")

enter a num5
odd

In [69]:
def evenodd(x):
    if (x%2==0):
        print("even")
    else:  
        print("odd")
evenodd(1)
evenodd(2)

odd
even